<div class="bg-white rounded-2xl shadow p-6 flex gap-4 mb-3">
    <img [src]="author.avatarUrl || 'https://ui-avatars.com/api/?name=' + (author.fullName || author.username)"
        class="w-8 h-8 rounded-full object-cover cursor-pointer" alt="avatar" />
    <div class="flex-1">
        <div class="flex items-center gap-2">
            <span class="font-semibold text-gray-900 cursor-pointer hover:underline">{{ author.username }}</span>
            <span class="text-gray-400 text-xs">{{ formatTime(createdAt) }}</span>
        </div>
        <div class="mt-2 text-gray-800 text-base whitespace-pre-line">
            {{ content }}
        </div>
        <div *ngIf="images.length > 0" class="mt-3 flex gap-2 overflow-x-auto scrollbar-hide">
            <img *ngFor="let img of images" [src]="img" class="rounded-xl border max-h-72 object-cover flex-shrink-0"
                alt="post image" />
        </div>
        <div class="flex gap-8 mt-4 text-gray-500 text-sm">
            <button class="flex items-center gap-1 transition cursor-pointer">
                <i class="fa-regular fa-heart w-5 h-5 text-lg"></i>
                <span class="leading-none">{{ likes }}</span>
            </button>
            <button class="flex items-center gap-1 transition cursor-pointer">
                <i class="fa-regular fa-comment-dots w-5 h-5 text-lg"></i>
                <span class="leading-none">{{ comments }}</span>
            </button>
            <button class="flex items-center gap-1 transition cursor-pointer">
                <i class="fa-solid fa-retweet w-5 h-5 text-lg"></i>
                <span class="leading-none">{{ reposts }}</span>
            </button>
            <button class="flex items-center gap-1 transition cursor-pointer">
                <i class="fa-solid fa-share-nodes w-5 h-5 text-lg"></i>
                <span class="leading-none">{{ shares }}</span>
            </button>
        </div>
    </div>
</div>