<div class="flex items-center gap-3 py-2 cursor-pointer" (click)="goToProfile()">
    <img [src]="user.avatarUrl || user.avatar || ''"
        class="w-10 h-10 rounded-full object-cover border border-gray-300 cursor-pointer" />
    <div class="flex-1">
        <div class="font-semibold hover:underline">
            {{ user.username }}
        </div>
        <div class="text-gray-500 text-sm">
            {{ user.fullName }}
        </div>
        <div *ngIf="user.description" class="text-gray-400 text-sm">{{ user.description }}</div>
    </div>
    <ng-container *ngIf="showFollowButton && user.id !== currentUserId">
        <button *ngIf="!user.isFollowed"
            class="px-4 py-1 rounded-lg bg-black text-white text-sm font-semibold cursor-pointer"
            (click)="onFollow(); $event.stopPropagation()">
            Theo dõi
        </button>
        <button *ngIf="user.isFollowed"
            class="px-4 py-1 rounded-lg border border-gray-300 text-black text-sm font-semibold cursor-pointer"
            (click)="onUnfollow(); $event.stopPropagation()">
            Bỏ theo dõi
        </button>
    </ng-container>
</div>