<div class="max-w-2xl mx-auto py-8 px-2">
    <div class="max-w-2xl mx-auto py-8 px-2">
        <div class="bg-white rounded-2xl shadow p-4 mb-3 flex items-center justify-between gap-3">
            <div class="flex items-center flex-1">
                <img src="https://randomuser.me/api/portraits/men/32.jpg" class="w-10 h-10 rounded-full object-cover"
                    alt="avatar" />
                <button class="flex-1 text-left text-gray-500 px-4 py-2 transition outline-none cursor-text"
                    (click)="openPostModal()">
                    Có gì mới?
                </button>
            </div>
            <button class="font-semibold px-4 py-2 rounded-lg shadow transition cursor-pointer"
                (click)="openPostModal()">Đăng</button>
        </div>

        <app-post-modal *ngIf="showPostModal" [avatar]="'https://randomuser.me/api/portraits/men/32.jpg'"
            (content)="newPostContent" (close)="closePostModal()"></app-post-modal>

        <app-loading *ngIf="isLoading"></app-loading>

        <div *ngIf="!isLoading" class="space-y-6">
            <app-post *ngFor="let post of posts" [post]="post"></app-post>
        </div>
    </div>
</div>