<div class="root">
    <div class="text-center max-w-md">
        <img src="/images/orisharin_message.png" alt="no messages" class="mx-auto w-26 h-26 object-contain mb-4" />
        <h3 class="text-lg font-semibold mb-2">Tin nhắn của bạn</h3>
        <p class="text-gray-500 mb-4">Gửi ảnh và tin nhắn riêng tư cho bạn bè hoặc nhóm.</p>
        <button class="px-4 py-1 rounded-lg bg-black text-white text-sm font-semibold cursor-pointer"
            (click)="startNew()">Gửi tin nhắn</button>
    </div>
</div>