:host {
    display: block;
    height: 100%;
    width: 100%;
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    text-align: center;
}